body {
  background-color: rgb(165, 206, 219);
}

header {
  background-color: rgb(113, 162, 186);
  height: 150px;
  text-align: center;
}

footer {
    background-color: rgb(113, 162, 186);
    height: 150px;
    text-align: center;
}